*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Fira Sans' , sans-serif;
}

body {
  background-color: #DDDDDD;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
/* text-align puts the player part directly underneath the jpg
Only the next song is affected by font-weight because everything else in the player has a h1,2,3,4 */
.c-player {
  display: block;
  border-radius: 16px;
  background-color: #7f5a83;
background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

  padding: 35px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  box-shadow: inset 6px 6px 12px rgba(241, 235, 235, 0.8), 
  inset -6px -6px 12px rgba(255,255,255,0.3);

}
/* Playing Now */
.c-player > h4 {
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
}
/* Next up */
.c-player > p {
  color: #AAA;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
}

.c-player--details .details-img {
  position: relative;
  width: fit-content;
  margin: 150px auto;
}

.c-player--details .details-img img {
  display: block;
  margin: 0px auto;
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
  box-shadow: 6px 6px 12px rgba(241, 235, 235, 0.8), 
  inset -6px -6px 12px rgba(255,255,255,0.4);
}

.c-player--details .details-title {
  color: #EEE;
  font-size: 19px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4), -2px -2px 4px rgba(255, 255, 255, 0.2);
  text-align: center;
}

.c-player--details .details-artist{
  font-size: 20px;
  color: #AAA;
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8), -2px -2px 4px rgba(255, 255, 255, 0.3);
}

.c-player--controls{
  display:flex;
  justify-content: center;
  margin-bottom: 20px;
}

.c-player--controls .react-btn {
  
  display: flex;
  margin: 0 30px;
  padding: 20px;
  background-size: cover;
  border-radius: 50%;
  box-shadow:
  4px 4px 11px rgba(0,0,0,0.8),
  -4px -4px 10px rgba(255,255,255,0.4),
  inset -4px -4px 10px rgba(0,0,0,0.4),
  inset 4px 4px 10px rgba(64, 45, 236, 0.397);
  border:none;
  outline:none;
  background-color: #832abe4b;
  color: #61DBFB;
  cursor: pointer;
  

}

.c-player--controls .skip-btn{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #888;
  font-style: 18px;
}


.react-btn:hover{
  animation: pulse 2s infinite;
}
/*Using @keyframes for the animation on the react-play button*/

@keyframes pulse {
  0% {
transform: scale(1);
opacity: 0.75;

}
100% {
transform: scale(1.35);
opacity: 0;
	}
}